@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* Application */
body {
  background-color: rgba(243, 245, 250, 1);
  color: #0e0e0e;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  min-height: 100vh;
  padding: 0;
}

header {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 25px;
  margin-top: 25px;
}

.bold {
  font-weight: bold;
}

.grey {
  color: rgba(116, 116, 116, 1);
}

.icon-sm {
  font-size: 16px;
}

.search__container__outer {
  background-image: url("/assets/backgroundImg.png");
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  padding: 35px 20%;
}

.search__container__inner {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.input__addon__left {
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(206, 212, 218, 1);
  border-bottom-left-radius: 0.25rem;
  border-right: none;
  border-top-left-radius: 0.25rem;
  display: flex;
  margin-right: -1px;
  padding: 0.375rem 0.75rem;
  padding-right: 0;
  text-align: center;
}

.search__input {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-bottom-right-radius: 0;
  border-left: none;
  border-right: none;
  border-top-right-radius: 0;
  color: #495057;
  flex: 1 1 auto;
  font-weight: 400;
  height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5;
  margin-bottom: 0;
  min-width: 0;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 1%;
}

.search__input:focus {
  outline: none;
}

.search__button__container {
  display: flex;
  margin-left: -1px;
}

.search__button {
  background-color: rgba(27, 108, 205, 1);
  border: 3px solid rgba(255, 255, 255, 1);
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 3rem;
  position: relative;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  z-index: 2;
}

.jobcard__container {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 15px;
}

.jobcard__logo__container {
  background-color: #f2f2f2;
  border-radius: 4px;
  height: 90px;
  width: 90px;
}

.jobcard__logo__container img {
  height: 90px;
  object-fit: contain;
  width: 90px;
}
