@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

/* Application */
body {
  background-color: rgba(243, 245, 250, 1);
  color: #0e0e0e;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

#header-link {
  text-decoration: none;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b9bdcf;
  opacity: 1; /* Firefox */
  text-overflow: ellipsis;
}

@keyframes orbit-spinner-orbit-one-animation {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes orbit-spinner-orbit-two-animation {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes orbit-spinner-orbit-three-animation {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@media only screen and (max-width: 600px) {
  #app {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  [placeholder] {
    text-overflow: ellipsis;
  }

  #search-submit {
    padding: 0.375rem 2rem;
  }

  #log-in,
  #sign-up {
    margin-top: 25px;
  }
}
